<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Wagner SoulBopeDev</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
 
  <!-- Favicons -->
  <link href="{{ url_for('static', filename= 'img/icosoul.png') }}" rel="icon">
  <link href="{{ url_for('static', filename= 'img/icosoul.png') }}" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename= 'lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename= 'lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename= 'lib/animate/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename= 'lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename= 'lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename= 'lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename= 'css/style.css') }}" rel="stylesheet">

</head>

<body id="page-top">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top"><img src="{{ url_for('static', filename= 'img/icosoul.png') }}" alt="soulbope" style="height:2rem; padding-bottom: 0.3rem;"> SoulBopeDev</a> 
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#service">Serviços</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#work">Trabalhos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#blog">Comentários</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url( '{{ url_for( "static", filename= "img/wintro.jpg" ) }}' )">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">Eu sou Wagner Oliveira</h1>
          <p class="intro-subtitle"><span class="text-slider-items">Desenvolvedor FullStack, Designer 3D, Automatizador de Processos</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="{{ url_for('static', filename= 'img/foto.PNG') }}" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Nome: </span> <span>Wagner Oliveira</span></p>
                      <p><span class="title-s">Perfil: </span> <span>full stack dev / 3D Designer</span></p>
                      <p><span class="title-s">Email: </span> <span>soulbopedev@yahoo.com</span></p>
                      <p><span class="title-s">Tel: </span> <span>(22) 99724-3748</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span>SKETCHUP 3D</span> <span class="pull-right">90%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>PYTHON / PYQT / FLASK WEB </span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>HTML + CSS + JS</span> <span class="pull-right">65%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                 
                  <span>FIREBASE</span> <span class="pull-right">30%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Sobre mim
                    </h5>
                  </div>
                  <p class="lead">                    
                    Iniciei como TI, evoluindo para a analista de logística e, em seguida, embarquei no setor Offshore.
                    Mesmo sabendo que meu sonho de trabalho estava no desenvolvimento de softwares,  
                    precisei seguir para a área técnica, assim aliando um salário melhor a ter tempo com minha família.
                  </p>
                  <p class="lead">
                    Agora, como engenheiro de software em formação, minha paixão pela programação se une à criação 3D. 
                    Tenho habilidades em Python para automatizar processos empresariais, ambientes WEB e experiência em criação de ambientes 3D com Sketchup.
                  </p>
                  <p class="lead">
                    Meu objetivo é criar soluções inovadoras que impactem positivamente a vida das pessoas, 
                    combinando minha expertise em programação e modelagem 3D.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/ Section Services Star /-->
  <section id="service" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Serviços
            </h3>
            <p class="subtitle-a">
              Alguns tipos de trabalhos que venho desenvolvendo.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-monitor"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">AUTOMATIZAÇÃO DE PROCESSOS</h2>
              <p class="s-description text-center">
                Analiso processos diários ou rotineiros. A partir daí crio soluções em softwares 
                com interface amigável para que seja feito com pouca ou nenhuma ação humana.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-code-working"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">DESENVOLVIMENTO WEB MODERNO RESPONSIVO</h2>
              <p class="s-description text-center">
                Criação de sites, com uma base de opções de templates dos mais variados gostos e propósitos.
                Conto também com o conhecimento de criação de protótipos.
              </p>
            </div>
          </div>
        </div>  
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-cube"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">MODELAGEM 3D E PLANTA HUMANIZADA</h2>
              <p class="s-description text-center">
                Criação de modelos 3D a partir de plantas, idéias e/ou desenhos estruturais.
                Com a opção de criação de render humanizado, ou seja, simulando a realidade.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-paintbrush"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">POWER POINT MODERNO</h2>
              <p class="s-description text-center">
                Trasformo aquela apresentação sem graça em algo digno de uma apresentação moderna, 
                sem a utilização de animações, caso você tenha pensado nisso.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Ciência de dados</h2>
              <p class="s-description text-center">
                Crio relatórios com gráficos para geração de informação pertinente,
                auxiliando em tomadas de decisão a partir de uma base de dados.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-email"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">RASPAGEM DE DADOS</h2>
              <p class="s-description text-center">
                Crio serviços de envio de relatórios automáticos personalizados por e-mail
                com informações diversas disponíveis na internet, para acompanhamento.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Services End /-->

  <div class="section-counter paralax-mf bg-image" style="background-image: url( {{ url_for("static", filename= "img/counters-bg.jpg") }} )">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">6</p>
              <span class="counter-text">WORKS COMPLETED</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">1</p>
              <span class="counter-text">ANOS DE EXPERIÊNCIA</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-people"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">1</p>
              <span class="counter-text">CLIENTES</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">1</p>
              <span class="counter-text">AWARD WON</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portifolio
            </h3>
            <p class="subtitle-a">
              Alguns trabalhos que construí até agora
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="{{ url_for('static', filename= 'img/easyptbig.jpg') }}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{{ url_for('static', filename= 'img/easypt.png') }}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">EasyPT</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Automatização de processos</span> / <span class="w-date">Nov. 2022</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{{ url_for('static', filename= 'img/easytbtbig.jpg') }}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{{ url_for('static', filename= 'img/easytbt.png') }}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Easy TBT</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Automatização de processos</span> / <span class="w-date">Fev. 2023</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{{ url_for('static', filename= 'img/fitpicSem.jpg') }}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{{ url_for('static', filename= 'img/wordcut2.png') }}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Easy Fit picture</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Automatização de processos</span> / <span class="w-date">Mar. 2022</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{{ url_for('static', filename= 'img/cozinha.jpg') }}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{{ url_for('static', filename= 'img/cozinhaReal.jpeg') }}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Projeto cozinha moderna com conceito aberto FINALIZADO</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Projeto 3D</span> / <span class="w-date">Out. 2022</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{{ url_for('static', filename= 'img/externo.jpg') }}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{{ url_for('static', filename= 'img/externo2.jpeg') }}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Projeto reforma geral + área gourmet</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Projeto 3D</span> / <span class="w-date">Set. 2022</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{{ url_for('static', filename= 'img/interno.jpg') }}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{{ url_for('static', filename= 'img/interno2.jpeg') }}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Projeto reforma interna</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Projeto 3D</span> / <span class="w-date">Set. 2022</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{{ url_for('static', filename= 'img/lateral1920.png') }}" data-lightbox="gallery-mf">
              <video id="video1" width="100%" height="100%" controls data-lightbox="gallery-mf">
                <source src={{ url_for('static', filename="img/padaria-nobre.mp4") }} type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Projeto de padaria de esquina</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Projeto 3D</span> / <span class="w-date">Abr. 2023</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->

  <!--/ Section Testimonials Star /-->
  <div class="testimonials paralax-mf bg-image" style="background-image: url( {{ url_for("static", filename= "img/overlay-bg.jpg") }} )">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="testimonial-mf" class="owl-carousel owl-theme">
            <div class="testimonial-box">
              <div class="author-test">
                <img src="{{ url_for('static', filename= 'img/velocidade.png') }}" style="height:5rem; padding-bottom: 0.6rem;" alt="" class="rounded-circle b-shadow-a">
                <span class="author">Tiago - Marceneiro do projeto Cozinha moderna</span>
              </div>
              <div class="content-test">
                <p class="description lead">
                  com o projeto 3D do móvel planejado evitou muito retrabalho e falta de entendimento entre nós e o cliente.
                </p>
                <span class="comit"><i class="fa fa-quote-right"></i></span>
              </div>
            </div>
            <div class="testimonial-box">
              <div class="author-test">
                <img src="{{ url_for('static', filename= 'img/velocidade.png') }}" style="height:5rem; padding-bottom: 0.6rem;" alt="" class="rounded-circle b-shadow-a">
                <span class="author">Alfredo - Construtor do projeto de reforma geral</span>
              </div>
              <div class="content-test">
                <p class="description lead">
                  Uma das maiores diferenças que vi em você é a agilidade de alterar/criar um projeto, dependendo da alteração, faz até na frente do cliente.
                </p>
                <span class="comit"><i class="fa fa-quote-right"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--/ Section Blog Star /-->
  <section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              NOSSO CANAL DO YOUTUBE
              <img src="{{ url_for('static', filename= 'img/youtube1.png') }}" alt="youtube icon" style="height:4rem; padding-bottom: 0.6rem;" class="img-fluid">
            </h3>
            <p class="subtitle-a">
              Canal que criei para descontração e treinar skills de edição, quem sabe futuramente criar aulas.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="https://www.youtube.com/watch?v=rWnVYdBN8pU" target="_blank"><img src="{{ url_for('static', filename= 'img/videoYou.png') }}" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Descontração / Edição de vídeos</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="https://www.youtube.com/watch?v=rWnVYdBN8pU" target="_blank">Veja meus vídeos de Gameplays</a></h3>
              <p class="card-description">
                Sessão do canal voltado a treinamentos de skills de edição de vídeos.
                Não tenho a pretenção de me torna youtuber, é mais pela diversão aliada ao conhecimento.
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <img src="{{ url_for('static', filename= 'img/foto.png') }}" alt="" class="avatar rounded-circle">
                  <span class="author">SoulBopeDev</span>
                </a>
              </div>
              <div class="post-date">
                <span class="ion-social-youtube"></span> 1 vídeo
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="https://www.youtube.com/watch?v=rWnVYdBN8pU" target="_blank"><img src="{{ url_for('static', filename= 'img/under-construction.jpg') }}" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Tutoriais / Cursos</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="https://www.youtube.com/watch?v=rWnVYdBN8pU" target="_blank">Em breve - tutoriais e cursos</a></h3>
              <p class="card-description">
                Sempre tive vontade de criar cursos que simplifiquem algumas coisas que já tenho certa experiência.
                ainda mais para pessoas que tem certa dificuldade de estar comprando cursos.
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <img src="{{ url_for('static', filename= 'img/foto.png') }}" alt="" class="avatar rounded-circle">
                  <span class="author">SoulBopeDev</span>
                </a>
              </div>
              <div class="post-date">
                <span class="ion-social-youtube"></span> 0 vídeos
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="https://www.youtube.com/watch?v=rWnVYdBN8pU" target="_blank"><img src="{{ url_for('static', filename= 'img/under-construction.jpg') }}" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Projetos pessoais</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="https://www.youtube.com/watch?v=rWnVYdBN8pU" target="_blank">Em Breve - projetos pessoais</a></h3>
              <p class="card-description">
                Tenho muitas idéias de projetos pessoais que tenho vontade de fazer na vida,
                pretendo criar um canal para deixar salvo e/ou inpirar outras pessoas.
              </p>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <img src="{{ url_for('static', filename= 'img/foto.png') }}" alt="" class="avatar rounded-circle">
                  <span class="author">SoulBopeDev</span>
                </a>
              </div>
              <div class="post-date">
                <span class="ion-social-youtube"></span> 0 vídeos
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Blog End /-->

  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({{ url_for('static', filename= 'img/plano-de-fundo.png') }})">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Me manda uma Mensagem
                    </h5>
                  </div>
                  <div>
                      <form action="" method="post" role="form" class="contactForm">
                      <div id="sendmessage">Opa, foi enviado. Obrigado!</div>
                      <div id="errormessage">Eita, não deu certo, tenta denovo por favor!</div>
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" autocomplete="additional-name" class="form-control" id="name" placeholder="Seu Nome" data-rule="minlen:4" data-msg="Pelo menos 4 letras por favor" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" autocomplete="email" id="email" placeholder="Seu Email" data-rule="email" data-msg="Um e-mail válido por favor" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" data-rule="minlen:4" data-msg="Pelo menos 8 letras, por favor!" />
                              <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensagem"></textarea>
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded">Enviar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Entrar em contato
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      Entre em contato com novas idéias e portunidades de negócios juntos!<br/>
                      O que achou do meu perfil? melhoraria algo? manda uma mensagem!<br/>
                      "Não espere as oportunidades extraordinárias. Agarre ocasiões comuns e as torne especiais"
                      - Orison Marden
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-ios-location"></span> SAQUAREMA, RIO DE JANEIRO - BR</li>
                      <li><span class="ion-ios-telephone"></span> (22) 99724-3748</li>
                      <li><span class="ion-email"></span> soulbopedev@yahoo.com </li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="https://www.github.com/Soulbope" target="_blank"><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>
                      <li><a href="https://www.instagram.com/wagnermonstro51/" target="_blank"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                      <li><a href="https://www.linkedin.com/in/wagner-soulbope/" target="_blank"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">&copy; Copyright <strong>DevFolio</strong>. All Rights Reserved</p>
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
                -->
                Designed by Wagner with a template from <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!--/ Section Contact-footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->

  <link href="{{ url_for('static', filename= 'img/icosoul.png') }}" rel="icon">
  
  <script src="{{ url_for('static', filename= 'lib/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'lib/jquery/jquery-migrate.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'lib/popper/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'lib/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'lib/easing/easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'lib/counterup/jquery.waypoints.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'lib/counterup/jquery.counterup.js') }}"></script>
  <script src="{{ url_for('static', filename= 'lib/owlcarousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'lib/lightbox/js/lightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'lib/typed/typed.min.js') }}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="{{ url_for('static', filename= 'contactform/contactform.js') }}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{ url_for('static', filename= 'js/main.js') }}"></script>

</body>
</html>
